---
import BaseLayout from "@/layouts/BaseLayout.astro";
import EntriesOne from "@/components/blog/EntriesOne.astro";
import { getCollection } from "astro:content";

export async function getStaticPaths() {
  const allPosts = await getCollection("posts");
  const uniqueTags = [
    ...new Set(allPosts.map((post) => post.data.tags).flat()),
  ];

  return uniqueTags.map((tag) => {
    const filteredPosts = allPosts.filter((post) =>
      post.data.tags.includes(tag)
    );
    return {
      params: { tag },
      props: { posts: filteredPosts },
    };
  });
}

const { tag } = Astro.params;
const { posts } = Astro.props;
---

<BaseLayout pageTitle={tag}>
  <section>
    <div class="mx-auto max-w-3xl px-8 py-16">
      <p
        class="text-2xl font-medium tracking-tight text-neutral-900 dark:text-white sm:text-4xl">
        All blog posts tagged with <span class="italic capitalize text-blue-400"
          >{tag}</span
        >
      </p>
      <p class="mt-4 text-neutral-500 dark:text-neutral-400">
        Here are all the blog posts that have been tagged with <span
          class="italic capitalize text-blue-400">{tag}</span
        > in the blog. Click on the title to read the post and see the full article
        on the website.
      </p>
      <ol
        role="list"
        class="grid grid-cols-1 sm:grid-cols-2 gap-x-6 gap-y-12 mt-12 border-t dark:border-neutral-700  pt-12">
        {
          posts.map((post) => (
            <EntriesOne
              url={"/posts/" + post.slug}
              title={post.data.title}
              description={post.data.description}
              alt={post.data.title}
              pubDate={post.data.pubDate.toString().slice(0, 10)}
              author={post.data.author}
              image={post.data.image.url}
            />
          ))
        }
      </ol>
    </div>
  </section>
</BaseLayout>
