---
// Define navigation data
const navigationItems = [
  {
    title: "Profoliox",
    items: [
      { href: "/", text: "Home", imgSrc: "/navIgationicons/home.svg" },
      { href: "/projects/home", text: "Projects", imgSrc: "/navIgationicons/projects.svg" },
      { href: "/work/home", text: "Work", imgSrc: "/navIgationicons/work.svg" },
      { href: "/blog/blog", text: "Blog", imgSrc: "/navIgationicons/blog.svg" },
      { href: "/about/stack", text: "Stack", imgSrc: "/navIgationicons/stack.svg" },
      { href: "/store/home", text: "Store", imgSrc: "/navIgationicons/store.svg" },
      { href: "/about/now", text: "Now", imgSrc: "/navIgationicons/now.svg" },
      { href: "/studio/home", text: "Studio", imgSrc: "/navIgationicons/studio.svg" },
      {
        href: "/forms/contact",
        text: "Contact",
        imgSrc: "/navIgationicons/contact.svg",
      },
      {
        href: "/about/socials",
        text: "Socials",
        imgSrc: "/navIgationicons/socials.svg",
      },
    ],
  },

  {
    title: "System",
    items: [
      {
        href: "/system/overview",
        text: "All pages",
        imgSrc: "/navIgationicons/allpages.svg",
      },
      {
        href: "/system/styleguide",
        text: "Style guide",
        imgSrc: "/navIgationicons/styleguide.svg",
      },
      {
        href: "https://lexingtonthemes.lemonsqueezy.com/checkout/buy/5fcfec43-356f-4f81-9a20-90d9539ed9b0",
        text: "Buy ProFolioX",
        imgSrc: "/navIgationicons/cart.svg",
      },
    ],
  },
];
---

<div>
  {
    navigationItems.map((section) => (
      <div class="px-8 py-4 space-y-4">
        <p class="text-sm font-semibold uppercase text-black dark:text-white">
          {section.title}
        </p>
        {section.items.map((item) => (
          <a
            href={item.href}
            class="flex items-center text-sm text-neutral-500 hover:text-blue-500 dark:text-neutral-50 group duration-200  gap-3">
            <img
              class="size-4 dark:invert"
              src={item.imgSrc}
              alt={item.text}
              aria-label={item.text}
              title={item.text}
            />
            {item.text}
          </a>
        ))}
      </div>
    ))
  }
</div>
