---
const { title, url, description, pubDate, author, image, authorImage } =
  Astro.props;
---

<li class="flow-root">
  <a
    href={url}
    title={title}
    class="group">
    <div class="flex items-center gap-x-4">
      <img
        alt={title}
        src={image}
        class="size-10 rounded-xl dark:border dark:border-neutral-700"
      />
      <div class="text-sm leading-6">
        <p
          class="font-semibold text-black dark:text-white group-hover:text-blue-400 duration-200">
          {title}
        </p>
        <p class="text-neutral-500 text-sm dark:text-neutral-400">
          {pubDate}
        </p>
      </div>
    </div>
    <p class="text-neutral-500 mt-4 dark:text-neutral-400 line-clamp-2">
      {description}
    </p>
  </a>
</li>


